{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EMI Calculator</title>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Link to your custom CSS file -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% comment %} <link rel="stylesheet" href="/static/css/benifit_style.css"> {% endcomment %}
</head>
<body>
    
    <div class="navbar">
        <a href="#">Hello Mitr</a>
      </div>
      
    <div class="container">
        
        <div class="row justify-content-center">
            <div class="col-md-6 form-container">

                <h1 class="text-center mb-4">EMI Calculator</h1>
                <form method="POST">
                    {% csrf_token %}
                    
                    <div class="form-group">
                        <label for="name">Name:</label>
                        <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                    </div>
                    <div class="form-group">
                        <label for="name">Total Value Of Home</label>
                        <input type="text" name="value" class="form-control" id="name" placeholder="Your Name" required>
                    </div>
                    <div class="form-group">
                        <label for="name">Downpayment</label>
                        <input type="text" name="downpayment" class="form-control" id="name" placeholder="Enter Downpayment" required>
                    </div>
                    <div class="form-group">
                        <label for="annualInterestRate">Annual Interest Rate (%):</label>
                        <input type="number" name="interest" class="form-control" id="annualInterestRate" placeholder="Enter annual interest rate" required>
                    </div>
                    <div class="form-group">
                        <label for="loanTenure">Loan Tenure (Years):</label>
                        <input type="number" name="years" class="form-control" id="loanTenure" placeholder="Enter loan tenure in years" required>
                    </div>
                    <button  class="btn btn-primary btn-block">Calculate EMI</button>
                    <div class="result mt-4">
                        {% if emi %}
                        <p>Your EMI for {{ years }} years is :<strong> {{ emi }}</strong></p>
                        <p>You will pay <strong>{{ total_payment }}</strong> to the bank.</p>
                        <p>You will pay <strong>{{ total_interest }}</strong> in interest only.</p>
                        <a href="benifit" class="btn btn-primary btn-block">Click for Benefits</a>
                        {% endif %}
                    </div>
                    
            </form>
        </div>
    </div>

    <!-- Include Bootstrap and jQuery scripts -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
